yarn-debug.log*
yarn-error.log*
lerna-debug.log*
lerna-error.log*

# Coverage directory used by tools like istanbul
coverage
report

# Compiled binary addons (http://nodejs.org/api/addons.html)
dist

# Dependency directories
node_modules

# dotenv environment variables file
.env

# IDE
.idea
.vscode

#MacOS
.DS_Store

#Junit
junit.xml
